<div class="flex items-center justify-center min-h-screen ">
    <div class="flex flex-col">

        <!-- Error Container -->
        <div class="flex flex-col items-center">
            <div class="text-blue-500 font-bold text-8xl ">
                <h1>
                    500

                </h1>
            </div>

            <div class="font-bold text-3xl  md:text-5xl mt-10">
                <h2>
                    
                    Internal server error
                </h2>
            </div>

            <div class="text-gray-500 font-medium text-sm md:text-xl lg:text-2xl mt-8">
                <span>

                    Oops! Something went wrong
                </span>
            </div>
            <div class="text-center mt-10 text-red-600  whitespace-normal">
                <ng-container class="" *ngIf="error">
                    <span>
                        Error: {{error.message}}
                    </span>
                    <div class=" hidden bg-slate-900 text-wrap mt-4 mx-10 p-4 text-left max-w-fit">
                        <code class=" text-white">
                            {{error.details}}
                            
                        </code>
                    </div>
                </ng-container>
            </div>
            
        </div>
    </div>
</div>

