<!-- *ngIf="isUserLoggedUser" -->
<div *ngIf="isUserAuthor" class="relative">

    
  <button (click)="deletePost()" class="z-20 text-slate-100 flex flex-col shrink-0 grow-0 justify-around 
                  fixed bottom-0  right-8 rounded-md sm:bottom-5
                  mr-1 mb-5 lg:mr-5 lg:mb-5 xl:mr-10 xl:mb-10">
    <div class="py-3 shadow-md shadow-blue-800 px-4 text-xl rounded-full  bg-red-500 hover:bg-red-600 transition duration-200 ease-in-out">
      <fa-icon [icon]="faTrash"></fa-icon>
    </div>

  </button>
  <button routerLink="/posts/edit/{{post?.id}}" class="z-20 text-slate-100 flex flex-col shrink-0 grow-0 justify-around 
                  fixed bottom-0  right-24 rounded-md sm:bottom-5
                  mr-1 mb-5 lg:mr-5 lg:mb-5 xl:mr-10 xl:mb-10">
    <div class="py-3 shadow-md shadow-blue-800 px-4 text-xl rounded-full  bg-blue-500 hover:bg-blue-600 transition duration-200 ease-in-out">
      <fa-icon [icon]="faPenToSquare"></fa-icon>
    </div>

  </button>

  
  
</div>

<div *ngIf="post" class=" mt-8 flex justify-center mb-14">
    <div class="mx-auto max-w-md bg-blue-200 p-5 shadow-2xl shadow-blue-800 rounded-lg ">
      <div class="flex items-center px-1 py-3">
        <img routerLink="/users/{{post.userName}}" class="h-12 w-12 rounded-full cursor-pointer" src="{{ post.mainPhotoUrl ? 'https://res.cloudinary.com/wkorneusz/image/upload/' + post.mainPhotoUrl : 'https://res.cloudinary.com/wkorneusz/image/upload/v1712359647/catz/bfuotqj7jmdinwhnhojz.jpg' }}" />
        <div class="ml-3 ">
          <h1 routerLink="/users/{{post.userName}}" class="text-slate-900 font-bold text-3xl cursor-pointer leading-8 ">{{post.knownAs}} <span class="text-base text-slate-500  leading-6 font-normal mb-2">
            ({{post.pronouns}})</span></h1>
            <a routerLink="/users/{{post.userName}}" class="text-blue-500 hover:text-blue-600 cursor-pointer text-base font-lg text-semibold leading-6">&commat;{{post.userName}}</a>
          </div>
      </div>
      <gallery [items]="photos"></gallery>
      
      <div class=" text-sm  my-4 ">
        <p>{{post.content}}</p>
      </div>
      <div class="text-slate-500 text-xs  mb-4 ">
        <p>{{post.created | date:'d MMMM y'}}</p>
      </div>
    </div>
  </div>