<form *ngIf="member" #editForm="ngForm" (ngSubmit)="updateMember()" autocomplete="off">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-2xl">
        <h1 class="font-bold text-center text-5xl mb-5 text-blue-600 monsterrat-600">CatZ</h1>  
        <div class="bg-blue-200 shadow-2xl shadow-blue-800 w-full rounded-lg divide-y divide-gray-200">
            <div>
                <div class="px-5 py-7" >

                <label for="knownAs" class="font-semibold text-sm text-gray-600 pb-1 block">Known as:</label>
                <input id="knownAs" name="knownAs" type="text" [(ngModel)]="member.knownAs" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

                <label for="pronouns" class="font-semibold text-sm text-gray-600 pb-1 block">Pronouns:</label>
                <input id="pronouns" name="pronouns" type="text" [(ngModel)]="member.pronouns" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

                <label for="introduction" class="font-semibold text-sm text-gray-600 pb-1 block">Introduction:</label>
                <textarea id="introduction" name="introduction" [(ngModel)]="member.introduction" rows="6" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" ></textarea>

                <label for="about" class="font-semibold text-sm text-gray-600 pb-1 block">About:</label>
                <textarea id="about" name="about" [(ngModel)]="member.about" rows="6" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" ></textarea>

                <label for="interests" class="font-semibold text-sm text-gray-600 pb-1 block">Interests:</label>
                <textarea id="interests" name="interests" [(ngModel)]="member.interests" rows="6" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" ></textarea>

                <label for="country" class="font-semibold text-sm text-gray-600 pb-1 block">Country:</label>
                <input id="country" name="country" type="text" [(ngModel)]="member.country" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

                <label for="city" class="font-semibold text-sm text-gray-600 pb-1 block">City:</label>
                <input id="city" name="city" type="text" [(ngModel)]="member.city" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

                <button type="submit" *ngIf="editForm.dirty" class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block mt-2">
                    <span class="inline-block mr-2">Save Changes</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </button>

                
            </div>
            </div> 
          
        </div>
        
      </div>
</form>