<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="on"
>
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1
      class="font-bold text-center text-5xl mb-5 text-blue-600 monsterrat-600"
    >
      CatZ
    </h1>
    <div
      class="bg-blue-200 shadow-2xl shadow-blue-800 w-full rounded-lg divide-y divide-gray-200"
    >
      <div *ngIf="!accountService.currentUser()">
        <div class="px-5 pb-7 pt-1">
          <!-- Username Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['username'])"
            [label]="'Username'"
          ></app-text-input>

          <!-- Known as Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['knownAs'])"
            [label]="'Known as'"
          ></app-text-input>

          <!-- Pronouns Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['pronouns'])"
            [label]="'Pronouns'"
          ></app-text-input>

          <!-- Date of birth Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['dateOfBirth'])"
            [label]="'Date of birth'"
            [type]="'date'"
          ></app-text-input>

          <!-- Interests Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['interests'])"
            [label]="'Interests'"
          ></app-text-input>

          <!-- Country Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['country'])"
            [label]="'Country'"
          ></app-text-input>

          <!-- City Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['city'])"
            [label]="'City'"
          ></app-text-input>

          <!-- Password Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['password'])"
            [label]="'Password'"
            [type]="'password'"
          ></app-text-input>

          <!-- Confirm Password Input -->
          <app-text-input
            [formControl]="$any(registerForm.controls['passwordConfirm'])"
            [label]="'Confirm password'"
            [type]="'password'"
          ></app-text-input>

          <button
            [disabled]="!registerForm.valid"
            type="submit"
            class="mt-10 transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
          >
            <span class="inline-block mr-2">Register</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </button>
        </div>
        <div class="pb-8">
          <div class="flex justify-center items-center gap-1">
            <div class="text-center sm:text-left whitespace-nowrap">
              <a
                routerLink="/login"
                class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-slate-500 hover:bg-slate-100 focus:outline-none focus:bg-slate-200 focus:ring-2 focus:ring-slate-400 focus:ring-opacity-50 ring-inset"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-4 h-4 inline-block align-text-top"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                  />
                </svg>
                <span class="inline-block ml-1"
                  >Already have account? Login instead</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 py-7" *ngIf="accountService.currentUser()">
        <h2
          class="font-bold text-center text-3xl text-blue-600 monsterrat-600 mb-7"
        >
          You're Logged in
        </h2>
        <button
          (click)="logout()"
          class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
        >
          <span class="inline-block mr-2">Logout</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-4 h-4 inline-block"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- <p>{{registerForm.status | json}}</p>
      <p>{{registerForm.value | json}}</p> -->
</form>
