<div class="mt-12 mb-24 lg:mt-20">
  <div
    class="mx-auto p-4 max-w-md sm:p-8 bg-blue-200 shadow-2xl shadow-blue-800 w-full rounded-lg divide-y divide-blue-300"
  >
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-3xl font-semibold leading-none text-blue-600">
        {{ content }}
      </h1>
      <select name="orderBy" id="orderBy" [(ngModel)]="content">
        <option value="Users">Users</option>
        <option value="Posts">Posts</option>
      </select>
    </div>
    <div class="flow-root">
      @if (content == "Users") {
      <app-moderate-users></app-moderate-users>
      } @else if (content == "Posts") {
      <app-moderate-posts></app-moderate-posts>
      }
    </div>
  </div>
</div>
