<div *ngIf="(isBusy$ | async)" class="w-screen h-screen fixed top-0 left-0 bg-blue-200 z-20 flex justify-center items-center">
    <div class=" w-full h-full flex justify-center items-center z-50">
            <!-- Outer Ring-->
            <div class="w-32 h-32 rounded-full absolute
        border border-solid border-blue-200"></div>

            <!-- Inner Ring -->
            <div class="w-32 h-32 rounded-full animate-spin absolute
        border border-solid border-blue-500 border-t-transparent shadow-md shadow-blue-400"></div>
        </div>
    </div>

