<form class="flex h-9 mb-4" (ngSubmit)="search()">
  <input
    type="text"
    name="message"
    id="message"
    [(ngModel)]="searchTerm"
    class="w-10/12 rounded-l-lg px-2 py-1.5 resize-none bg-white"
  />
  <button
    type="submit"
    class="w-2/12 bg-blue-500 text-white rounded-r-lg transition duration-200 cursor-pointer hover:bg-blue-600"
  >
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
  </button>
</form>
<ul role="list" class="divide-y divide-blue-300">
  @for (user of adminService.paginatedResult()?.items; track $index) {
  <li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
      <div class="flex-1 min-w-0">
        <h3
          class="text-xl mb-1 max-w-fit font-medium hover:underline text-blue-500 hover:cursor-pointer truncate hover:underline-offset-2"
        >
          <a [routerLink]="['/users', user.userName]">
            &commat;{{ user.userName }}
          </a>
        </h3>
        <p class="text-sm text-slate-400 truncate">
          ({{ user.roles.join(", ") }})
        </p>
      </div>
      <div class="w-6/12 text-right">
        <input
          type="text"
          #roleInput
          placeholder="roles"
          class="w-5/12 rounded mb-2 px-1 text-sm bg-white"
          value="{{ user.roles }}"
        />
        <div
          class="flex text-right items-center justify-center rounded transition hover:shadow-sm bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold px-2 ml-auto duration-300 cursor-pointer w-5/12"
        >
          <button (click)="updateRoles(user.id, roleInput.value)">Edit</button>
        </div>
      </div>
    </div>
  </li>
  }
</ul>
<div class="max-w-lg mx-auto text-center">
  <div class="inline-flex gap-3 justify-items-end rounded-lg" role="group">
    @if((this.adminService.paginatedResult()?.pagination?.currentPage ?? 0) >
    1){
    <a
      type="button"
      (click)="
        changePage(
          (this.adminService.paginatedResult()?.pagination?.currentPage ?? 1) -
            1
        )
      "
      class="mt-3 rounded-l-lg relative text-xl max-w-full py-2 px-4 leading-normal no-underline hover:bg-grey-dark text-slate-400 hover:text-blue-500 hover:cursor-pointer shadow-md shadow-slate-400 transition hover:shadow-sm border border-blue-300"
    >
      Previous
    </a>
    } @if ((this.adminService.paginatedResult()?.pagination?.currentPage ?? 0) <
    (this.adminService.paginatedResult()?.pagination?.totalPages ?? 0)) {
    <a
      type="button"
      (click)="
        changePage(
          (this.adminService.paginatedResult()?.pagination?.currentPage ?? 1) +
            1
        )
      "
      class="mt-3 rounded-r-lg relative text-xl max-w-full py-2 px-4 leading-normal no-underline hover:bg-grey-dark text-slate-400 hover:text-blue-500 hover:cursor-pointer shadow-md shadow-slate-400 transition hover:shadow-sm border border-blue-300"
    >
      Next </a
    >}
  </div>
</div>
